@import url(https://fonts.googleapis.com/css?family=Cute+Font|Nanum+Gothic);

.navbar-brand, h1, h2, h3, h4 {
	font-family: 'Cute Font';
}

h5 {
	font-family: 'Nanum Gothic';
	font-size: 18px;
}
body {
	font-family: 'Nanu, Gothic';
}
